{% load static %}
{% url 'landing_page' as path_to_landing_page%}
<section>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Aeroplane</th>
			<th>Departure</th>
			<th>Destination</th>
			<th>Price</th>
			<th>Departure Date</th>
			<th>Hours taken</th>            
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content" {% if not flights %}style="height:auto !important "{% endif %}>
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
			{% for flight in flights %}
			 
			<tr>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.aeroplane}}</a></td>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.departure|title}}</a></td>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.destination|title}}</a></td>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.price}}</a></td>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.departure_datetime}}</a>
			  <td><a href="{% url 'flight:flight-detail' flight.pk %}">{{flight.duration}}</a></td>
			  {% empty %}
			  <td colspan="6" class="text-center">Oops! Nothing here!</td>
			  
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
  </section>

{% if request.path == path_to_landing_page %}
{% if request.htmx %}
	{% if flights %}
	<a href="{% url 'flight:flight-search' %}?departure_airport={{departure_airport}}
	&destination_airport={{destination_airport}}&departure_date={% if departure_date %}{{departure_date}}{% endif %}
	&arrival_date={{arrival_date}}" style="color:#565a5c; margin-top:10px; font-weight: 700">
	View more</a>
	{% endif %}
{% endif %}
{% endif %}