.custom-btn{
    width: 200px; 
    border-radius: 0 !important;
    font-weight: 700;
}

/* ul li{ */
    /* font-size:20; */
    /* margin-left: 10px */
/* } */

.form-group label{
    font-weight: 600;
}

label .asteriskField{
    color: rgb(231, 42, 42);
}