{% load static %}
<section id="service" class="service">
	<div class="container">
		<div class="service-counter text-center">
			<div class="col-md-4 col-sm-4">
				<div class="single-service-box">
					<div class="service-img">
						<img src="{% static 'assets/images/service/s1.png' %}" alt="service-icon" />
					</div>
					<div class="service-content">
						<h2>
							<a href="#">
							Choose amazing Booking packages
							</a>
						</h2>
						<p>Must use our booking Planner for breathtaking booking packages!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="single-service-box">
					<div class="service-img">
						<img src="{% static 'assets/images/service/s2.png' %}" alt="service-icon" />
					</div>
					<div class="service-content">
						<h2>
							<a href="#">
								book top class flight
							</a>
						</h2>
						<p>This amazing site helps you book the best flights all around the world!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="single-service-box">
					<div class="statistics-img">
						<img src="{% static 'assets/images/service/s3.png' %}" alt="service-icon" />
					</div>
					<div class="service-content">
						<h2>
							<a href="#">
								online flight booking
							</a>
						</h2>
						<p>Book your flight instantly using BookFlight!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>