{% load static %}
<section   class="testemonial">
	<div class="container">
		<div class="gallary-header text-center">
			<h2>
				clients reviews
			</h2>
			<p>
				We have alot of reviews from our clients and members of BookFlight. 
			</p>
		</div><!--/.gallery-header-->
		<div class="owl-carousel owl-theme" id="testemonial-carousel">
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Olaifa Ibukun
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/janet.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Boluwatife Janet
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Olaifa Ibukun
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Boluwatife Janet
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/janet.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Olaifa Ibukun
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Boluwatife Janet
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Olaifa Ibukun
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/janet.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Boluwatife Janet
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
			<div class="home1-testm item">
				<div class="home1-testm-single text-center">
					<div class="home1-testm-img">
						<img src="{% static 'assets/images/client/brainy.jpg' %}" alt="img"/>
					</div><!--/.home1-testm-img-->
					<div class="home1-testm-txt">
						<span class="icon section-icon">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</span>
						<p>
							What an amazing service by BookFlight, booking flights has been made painless 
						</p>
						<h3>
							<a href="#">
								Olaifa Ibukun
							</a>
						</h3>
						<h4>london, england</h4>
					</div><!--/.home1-testm-txt-->	
				</div><!--/.home1-testm-single-->
			</div><!--/.item-->
		</div><!--/.testemonial-carousel-->
	</div><!--/.container-->
</section><!--/.testimonial-->	