{% extends 'base.html' %}
{% block title %}{{flight.aeroplane}}{% endblock title %}




{% block content %}
<section id="home" class="about-us">
	<div class="container">
		<div class="about-us-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="single-about-us">
						<div class="about-us-txt">
							<h2>
								{{flight.aeroplane}}
							</h2>
							{% comment %} <div class="about-btn"> {% endcomment %}
								{% comment %} <button  class="about-view"> {% endcomment %}
									{% comment %} explore now {% endcomment %}
								{% comment %} </button> {% endcomment %}
							{% comment %} </div><!--/.about-btn--> {% endcomment %}
						</div><!--/.about-us-txt-->
					</div><!--/.single-about-us-->
				</div><!--/.col-->
				<div class="col-sm-0">
					<div class="single-about-us">
						
					</div><!--/.single-about-us-->
				</div><!--/.col-->
			</div><!--/.row-->
		</div><!--/.about-us-content-->
	</div><!--/.container-->
</section><!--/.about-us-->



  <section  class="travel-box" style="margin-top:40px">
    <div class="container">
      <div class="row">
            <div class="col-sm-6" style="overflow-y:scroll !important; height:500px ">
              <table class="table">
                <thead>
                  <tr>
                    <th style="font-weight: bold !important">#</th>
                    <th style="font-weight: bold !important">Passenger</th>
                    <th style="font-weight: bold !important">Ticket Price</th>
                    {% comment %} <th scope="col">Price</th> {% endcomment %}
                  </tr>
                </thead>
                <tbody>
                  {% for booking in bookings %}
                  {% for passenger in booking.passengers.all %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{passenger}}</td>
                    <td>{{price}}</td>
                    {% endfor %}        
                  </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
            
            <div class="col-sm-6">
              <h2 style="color: #565a5c;">Total Money spent</h2>
                <h3 style="color: #565a5c; margin-top: 10px">N{{total_money}}</h3>
            </div>
          </div>
  
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.container-->
  </section><!--/.travel-box-->



{% include 'partials/footer.html' %}
{% endblock content %}